@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

* {
  scroll-behavior: smooth;
}

body {
  @apply m-2;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply first-letter:text-pink-500 text-5xl font-bold whitespace-nowrap;
  font-family: var(--font-poiret-one);
}

h2 {
  @apply opacity-50 text-4xl tracking-widest;
  font-family: var(--font-poiret-one);
}

h3 {
  @apply md:text-3xl text-2xl mb-2 border-t border-l p-1 tracking-wider;
  font-family: var(--font-quicksand);
}

p {
  @apply mb-4;
  font-family: var(--font-quicksand);
}

section {
  @apply border border-slate-800 bg-opacity-80 mx-6 mt-6 p-4 max-w-[40rem] rounded-br-2xl;
}

a {
  @apply px-4 py-2 border-0 lg:border mx-1 lg:rounded-b-2xl transition-all hover:bg-white hover:text-black bg-opacity-50;
}

:target {
  scroll-margin-top: 5rem;
}

#intro {
  -webkit-box-shadow: 0px 0px 42px -2px rgba(114, 120, 125, 0.28);
  -moz-box-shadow: 0px 0px 42px -2px rgba(114, 120, 125, 0.28);
  box-shadow: 0px 0px 42px -2px rgba(114, 120, 125, 0.28);
}

#nature {
  @apply bg-gradient-to-br from-green-950 to-95%;
  -webkit-box-shadow: 0px 0px 42px -2px rgba(31, 171, 127, 0.28);
  -moz-box-shadow: 0px 0px 42px -2px rgba(31, 171, 127, 0.28);
  box-shadow: 0px 0px 42px -2px rgba(31, 171, 127, 0.28);
}

#anticap {
  @apply bg-gradient-to-br from-red-950 to-95%;
  -webkit-box-shadow: 0px 0px 42px -2px rgba(173, 31, 88, 0.38);
  -moz-box-shadow: 0px 0px 42px -2px rgba(173, 31, 88, 0.38);
  box-shadow: 0px 0px 42px -2px rgba(173, 31, 88, 0.38);
}

#equality {
  @apply bg-gradient-to-br from-cyan-950 to-95%;
  -webkit-box-shadow: 0px 0px 42px -2px rgba(32, 109, 171, 0.28);
  -moz-box-shadow: 0px 0px 42px -2px rgba(32, 109, 171, 0.28);
  box-shadow: 0px 0px 42px -2px rgba(32, 109, 171, 0.28);
}

#pfp {
  -webkit-box-shadow: 0px 0px 42px -2px rgba(125, 116, 86, 0.28);
  -moz-box-shadow: 0px 0px 42px -2px rgba(125, 116, 86, 0.28);
  box-shadow: 0px 0px 42px -2px rgba(125, 116, 86, 0.28);
}
